nav {
    background-color: darkblue;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

a {
    padding: 15px;
    color: white;
    text-decoration: none;

}